body {
  background: url("https://cdn.pixabay.com/photo/2018/08/11/17/54/rain-3599085_960_720.jpg");
  background-size: 100%;
  font-family: "Quicksand", sans-serif;
}

footer {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  text-align: center;
  padding-top: 1px;
  color: white;
  text-shadow: 2px 1px 1px #4b4a4a;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(104, 100, 100);
}

.footer {
  text-decoration: none;
  color: black;
  padding-top: 45px;
  position: relative;
}
