body {
  background: url("https://cff2.earth.com/uploads/2017/11/08174338/How-ice-forms-inside-of-clouds.jpg");
  background-size: 100%;
  font-family: "Lato", sans-serif;
  letter-spacing: 2.2px;
  max-width: 78%;
  margin: 0 auto;
  color: rgb(248, 245, 245);
}

footer {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 1px;
  color: white;
  text-shadow: 2px 1px 1px #4b4a4a;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(104, 100, 100);
}

.footer {
  text-decoration: none;
  color: black;
  padding-top: 45px;
  position: relative;
}
