h6 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.col-2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
}

.picture {
  display: block;
  margin: 10px auto -5px;
}
